ul {
    list-style-type: none;
    margin-top: 150px;
}

.friends {
    background-color: rgb(0, 0, 0);
    display: flex;
    padding-top: 30px;
    height: 100%;
    width: 100%;
}
.friends-list__img {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0px 20px;
}
.chat-name {
    font-size: 23px;
    color: wheat;
    text-shadow: 3px 4px 2px rgb(218, 3, 3);
}
.chat-chat {
    font-size: 22px;
    color: rgb(251, 246, 255);
    margin-top: 15px;
    text-shadow: 3px 4px 2px rgb(0, 110, 255);
}
.chat-box {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px;
    width: 65%;
    height: 80px;
    position: absolute;
    left: 140px;
    border: 2px solid rgb(255, 255, 255);
}
.friends_pic {
    width: 100px;
    height: 100px;
    object-fit: cover;
    top: 130px;
    border-radius: 50px;
    border: 3px solid rgb(255, 255, 255);
}

.friends-list__row-2 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-bottom: 40px;
}

.friends-talk {
    display: flex;
    justify-content: center;
    width: 200px;
    border: 1px solid white;
    padding: 1px;
    margin-right: 10px;
}

.friends-comment__list {
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.friends_tap {
    display: flex;
    width: 100%;
    padding: 25px;
    position: fixed;
    box-sizing: border-box;
    background-color: hsl(0, 81%, 58%);
    color: white;
    z-index: 100;
    top: 315px;
}

.friends-tap__txt {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
}

.thunder {
    display: flex;
    position: absolute;
    font-size: 20px;
    width: 35px;
    height: 30px;
    border: 2px solid salmon;
    top: 137px;
    left: 50px;
    z-index: 100;
    align-items: center;
    justify-content: center;
}
