.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: hsl(0, 81%, 58%);
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 2px solid rgb(0, 0, 0);
}

.nav__list {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0px;
}

.nav__link {
    color: rgb(255, 255, 255);
    position: relative;
}

.nav__notification {
    background-color: rgb(0, 0, 0);
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: 600;
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.nav__dot {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    right: -6px;
}

.screen-headr {
    padding: 0px 10px;
}
